root = true

[*]
end_of_line               = lf
tab_width                 = 4
indent_size               = 2
indent_style              = space
trim_trailing_whitespace  = true

[Makefile]
indent_style = tab

[src/**/*]
indent_style				= tab
shell_variant				= zsh
switch_case_indent			= true
