# EditorConfig https://editorconfig.org
root = true

[*]
charset                   = utf-8
indent_size               = 2
indent_style              = space
insert_final_newline      = true
trim_trailing_whitespace  = true

[Makefile]
indent_size   = 4
indent_style  = tab

[src/*.{sh,zsh}]
end_of_line = lf

[src/{public,private}/*]
indent_size   = 4
indent_style  = tab
shell_variant = zsh
end_of_line   = lf

[*.rb]
indent_size = 4
